body {
  background-color: rgb(217, 93, 76);
}

.center
{
  text-align: center;
  font-family: 'Righteous';
  color: black;
  font-size: 300%;
}

.njdrink
{
  text-align: center;
  font-family: 'Roboto Mono';
  color: black;
}

.nydrink
{
  text-align: center;
  font-family: 'Roboto Mono';
  color: black;
}

.miadrink
{
  text-align: center;
  font-family: 'Roboto Mono';
  color: black;
}

.bosdrink
{
  text-align: center;
  font-family: 'Roboto Mono';
  color: black;
}

.listWBullets
{
  list-style-type: none;
}

.back {
  display: table;
  margin-top: 30 px;
  margin-bottom: 80px;
  text-align: left;
}

.verticalLine {
  padding-top: 20px;
}

.verticalLine li {
  display: inline;
  margin: 10px;
  padding: 10px 15px 10px 15px;
  background-color: black;
  width: 10%;
}

.verticalLine li a {
  color: rgb(217, 93, 76);
  text-decoration: none;
  font-family: 'Oxanium';
}

.verticalLine li a:hover {
  color: white;
}

.dfootone {
  font-family: 'Oxanium';
  color: black;
  color: white;
}

.favs {
  text-align: center;
  font-family: "Oxanium";
  font-size: 150%;
}

.basicGrid
{
    width: 80%;
    height: 100vh;
    margin: auto;
    margin-top: 50px;
    margin-bottom: auto;
    display: grid;
    grid-template-rows: 20% 20%;
    grid-template-columns:1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    font-size: 150%
  }

  .basicGrid div:first-child
  {
  font-family: 'Oxanium';
  background-color: rgb(217, 93, 76);
  border: 2px solid black;
  }

  .basicGrid div:nth-child(2)
  {
    font-family: 'Oxanium';
    background-color: rgb(217, 93, 76);
    border: 2px solid black;'
  }

  .basicGrid div:nth-child(3)
  {
    font-family: 'Oxanium';
    background-color: rgb(217, 93, 76);
    border: 2px solid black;
  }
