body {
  background-color: rgb(217, 93, 76);
}

h1
{
  font-family: 'Righteous';
  color: black;
  font-size: 400%

}

h2
{
  font-family: 'Oxanium';
  color: black;
  font-size: 150%

}

h3
{
  font-family: 'Oxanium';
  color: black;
  font-size: 150%

}

.body
{
  text-align: center;
  font-family: 'Oxanium';
  color: black;
}

.second
{
  text-align: center;
  font-family: 'Oxanium';
  color: black;
}

.listWBullets
{
  list-style-type: none;
}

.third
{
  text-align: center;
  font-family: 'Oxanium';
  color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.resources {
  display: table;
  margin: 0 auto;
  margin-top: 30 px;
  margin-bottom: 80px;
}

.horizontaLine {
  padding-top: 20px;
}

.horizontaLine li {
  display: inline-block;
  margin: 5px;
  padding: 30px 70px 30px 70px;
  background-color: black;
  width: 30%;
}

.horizontaLine li a {
  color: rgb(217, 93, 76);
  text-decoration: none;
  font-family: 'Oxanium';
}

.horizontaLine li a:hover {
  color: white;
}

.gridHome
{
  width: 90%;
  height: 90vh;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 350px;
  display: grid;
  grid-template-areas:  "hea hea hea"
                        "nav nav nav"
                        "main main main"
                        "foo foo foo";

  grid-template-rows: 10% 20% 80% 30%;
  grid-template-columns: 1fr 1fr 1fr;
}

.gridHome header
{
  grid-area: hea;
  text-align: center;
  font-family: 'Righteous';
  font-size: 200%
}
.gridHome nav
{
  grid-area: nav;
  display: inline-block;
  background-color: rgb(217, 93, 76);
  text-align: center;
}
.gridHome main
{
  display: table;
  text-align: center;
  grid-area: main;
  background-color: rgb(217, 93, 76);
  font-family: 'Oxanium';
}
.gridHome footer
{
  grid-area: foo;
  background-color: rgb(217, 93, 76);
  font-family: 'Righteous';
  border: 1px solid black;
}
