h1 {
  color: rgb(203, 203, 203);
  font-size: 100px;
  text-align: center;
}


#education {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

.listWBullets {
  list-style-type: none;
}

#box2 {
  background-color: rgb(203, 203, 203);
  border: 2px solid white ;
}
