html {
  font-family: "Arvo";
  background-color: rgb(137, 162, 204);
}

.logo {
  width: 200px;
  display: block;
  margin: 0 auto;
  margin-top: -30px;
}

.firstnav {
  background-color: rgb(137, 162, 204);
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.firstnav a {
  background-color: rgb(137, 162, 204);
  text-align: center;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.firstnav a:hover {
  background-color: rgb(175, 175, 175);
  color: black;
}

#box {
  background-color: rgb(251, 195, 188);
  border: 2px solid white ;
}

#about {
    text-align: center;
    font-family: 'Cuprum', sans-serif;
    margin: auto;
    margin-top: 20px;
    font-size: 35px;
    padding: 50px;
}


.subhead {
  font-size: 20px;
}
