header {
  align-items: center;
}

#about {
  font-size: 20px;
}

.logo {
  width: 200px;
  display: block;
  margin: 0 auto;
  margin-top: -30px;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
}

p {
  text-align: center;
}
