h1 {
  color: rgb(163, 88, 106);
  font-size: 100px;
  text-align: center;
}

#box3 {
  background-color: rgb(163, 88, 106);
  border: 2px solid white ;
}

.subhead {
  text-align: center;
  font-family:'Indie Flower', cursive;
  font-size: 30px;
}

.picsvisual {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 200px 450px 200px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 4rem auto 0 auto;
}

div.picsvisual .div1 {
  grid-area: 1 / 2 / 3 / 4;
}

div.picsvisual .div2 {
  grid-area: 2 / 3 / 4 / 5;
}

div.picsvisual .div3 {
  grid-area: 3 / 2 / 6 / 4;
}

div.picsvisual .div4 {
  grid-area: 4 / 3 / 5 / 5;
}

div.picsvisual .div5 {
  grid-area: 5 / 2 / 5 / 4;
}


.img {
  width: 100%;
  border: 0.5px solid black;
}

#visual1 {
  width: 65%;
}

#visual2 {
  width: 100%;
}

#visual3 {
width: 100%;
}

#visual4 {
  width: 100%;
}

#visual5 {
  width: 100%;
}
